*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

body{
    background-color: #041c3e;
    overflow-x: hidden;
}

/* ---Header--- */

.cssbuttons-io-button {
    background: #0C55BB;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #0C55BB;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #0C55BB;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #0C55BB;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAF9F6;
    width: 100vw;
    height: 80px;
    padding: 0rem 8vw;
    position: sticky;
    -webkit-box-shadow: 6px 10px 25px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 10px 25px -19px rgba(0,0,0,0.75);
    box-shadow: 6px 10px 25px -19px rgba(0,0,0,0.75);
}

.right-content{
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 0rem 16vw;
}

.right-content a{
    text-decoration: none;
    color: #0e0e0e;
}

.right-content a:hover{
    color: #0C55BB;
}

.logo {
    width: 200px;
    height: 75px;
}

/* ---Header--- */
/* ---Main--- */

main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding: 32px; */
  
}

.form{
    margin: 32px;
    max-width: 80vw;
    min-width: 60vw;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 32px;
    border-radius: 40px;
    background-color: #0D1117;
    gap: 36px;
}

.tittle{
    color: #6D99D6;
    font-weight: bold;
}

.content{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.content-tittle{
    display: flex;
    align-items: flex-start;
}

.container{
    background-color: #2F1E40;
    max-width: 55%;
    padding: 32px;
    border-radius: 40px;
}

.content-image{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration{
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: center;
}

.container h2{
    display: flex;
    color: #6D99D6;
    justify-content: center;
    text-transform: uppercase;
}

.container form{
    display: flex;
    flex-direction: column;
}

form label{
    margin-bottom: 8px;
    color: #c8c1cc  ;
    margin-left: 4px;
}

.input{
    margin-bottom: 16px;
    background-color: #56456B;
    border: none;
    border-radius: 8px;
    height: 2rem;
    align-content: center;
    color: #dadadb;
    padding-left: 16px;
    font-weight: 600;
}

.input:focus{
    transform: scale(1.05);
    transition: transform 0.3 ease;
    outline: none;
}

.input-btn{
    display: flex;
    justify-content: center;
}

.btn{
    height: 2rem;
    border-radius: 8px;
    background-color: #6D99D6;
    border: none;
    color: black;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 16px;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 60%;
}

.btn:hover{
    background-color: #2F1E40;
    border: 2px solid #6D99D6;
    color: #dadadb;
    box-shadow: 0 0 5px #6D99D6, 0 0 10px #6D99D6, 0 0 20px #6D99D6;
}

.textarea{
    resize: none;
    margin-bottom: 16px;
    background-color: #56456B;
    border: none;
    border-radius: 8px;
    height: 4rem;
    align-content: flex-start;
    color: #dadadb;
    padding-top: 8px;
    padding-left: 16px;
    font-weight: 700;
}

.textarea:focus{
    transform: scale(1.05);
    transition: transform 0.3 ease;
    outline: none;
}



#email::placeholder{
    color: #AFA3B6;
    font-size: 12px;
}

#message::placeholder{
    color: #AFA3B6;
    font-size: 12px;
}

#name::placeholder{
    color: #AFA3B6;
    font-size: 12px;
}

.radio-group {
  display: flex;
  gap: 8px;
  width: 100%;
  flex-wrap: wrap;
}

.radio-label {
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: #56456B;
  border-radius: 12px;
  transition: background-color 0.2s, border-color 0.2s;
  color: #fff;
  font-size: 12px;
}

.radio-label:hover {
  background-color: #000000;
}

.radio_input {
  position: absolute;
  opacity: 0;
}

.radio_input:checked + .radio-label {
  background-color: #1F4B88;
  border-color: #6D99D6;
}

.radio_input:focus + .radio-label {
  outline: 2px solid #6D99D6;
}

.radio-inner-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 8px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin-right: 0.5em;
  transition: border-color 0.2s;
  position: relative;
}

.radio-label:hover .radio-inner-circle {
  border-color: rgb(233, 233, 233);
}

.radio_input:checked + .radio-label .radio-inner-circle {
  border-color: #6D99D6;
}

.radio_input:checked + .radio-label .radio-inner-circle::after {
  content: '';
  display: block;
  width: 0.5em;
  height: 0.5em;
  background-color: #6D99D6;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
    


/* form1 */

/* form2 */

.form2{
    color: #aaa7ac;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 16px;
}

.button2 {
    margin: 16px;
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 3.3em 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: none;
    cursor: pointer;
  }
  
  .button2 > svg {
    height: 30px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
  }
  
  .button2:active {
    color: #666;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
/* ---Main--- */
/* ---Footer--- */

.social {
  width: fit-content;
  height: fit-content;
  background-color: #0D1117;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}

.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

.footer{
  background-color: #0D1117;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 96px;
  width: 100vw;
}

.leftFooter{
  display: flex;
}

.rightFooter{
  display: flex;
}

.centerFooter{
  display: flex;
  text-align: center;
}

.linkref{
  color: #0C55BB;
}

.location{
  color: #fefefe;
  font-weight: 500;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
} 

/* ---Footer--- */

/* ---Responsivity--- */


@media only screen and (max-width: 768px) and (min-width: 601px){
  *{
    overflow-x: hidden;
  }

  main{
    padding: 16px;
  }

  .footer{
    display: flex;
    position: static;
    width: 100%;
    height: 96px;
  }

  .left-content{
    display: flex;
  }

  .form{
    display: flex;
    flex-direction: column;
  }

  .container{
    max-width: 100%;
  }

  
}


@media only screen and (max-width: 768px){
  *{
    overflow-x: hidden;
  }

  main{
    padding: 16px;
  }

  .footer{
    display: flex;
    position: static;
    width: 100%;
    height: 94px;
  }

  .left-content{
    display: flex;
  }

  #right-href{
    display: none;
  }

  .centerFooter{
    display: none;
  }

  .form{
    display: flex;
    flex-direction: column;
  }

  .container{
    max-width: 100%;
  }
}